* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
} 

.container {
  width: 1024px;
  margin: 0 auto;
  padding: 15px;
}

.title {
  padding-top: 15px;
  color: rgb(16, 124, 128);
  text-decoration: underline;
  display: inline-block;
  text-align: center;
}

.profile-photo {
  width: 250px;
  height: 200px;
  box-shadow: 7px -6px 15px 0px rgba(5, 124, 133, 0.6);
}

.header {
  display: flex;
  padding: 0px 10px;
  height: 230px;
  justify-content: space-between;
  background: rgb(112, 188, 223);
  align-items: center;
}

h1 {
  margin-bottom: 10px;
}

h3 {
   margin-bottom: 10px;
}

li {
  list-style: none;
  margin-bottom: 7px;
  font-size: 18px;
}

.fab,
.fas {
  font-size: 20px;
  color: brown;
}

span {
  padding-left: 10px;
}